/* responsive for mobile devices */
@media screen and (max-width:576px) {

    main,
    .footer-container {
        padding: 1.25rem;
    }

    .nav-options {
        display: none;
    }

    .menu-bar {
        display: block;
        height: 24px;
        width: 24px;
    }

    .hero-container,
    .extra-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hero-container h1 {
        font-size: 2.5rem;
        line-height: 120%;
    }

    span {
        font-size: 6rem;
    }

    img,
    .extra-text-container,
    .extra-img-container {
        width: 100%;
    }

    .primary-btn {
        padding: 1rem;
    }

    .upper-card h2,
    .lower-card h2 {
        font-size: 25px;
    }

    .upper-card>p,
    .lower-card p {
        font-size: 10px;
    }

    .lower-card {
        top: 60%;
        left: -30%;
    }

    .lower-card,
    .upper-card {
        padding: .4rem;
    }

    .upper-card {
        top: 10%;
        width: 7.5rem;
    }

    .red-circle {
        width: 1.5rem;
        height: 1.5rem;
    }

    .habit-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .extra-text-container {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .tablet,
    .laptop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .child-3,
    .child-6 {
        display: none;
    }

    .child-1 {
        grid-column: 1/span 5;
        grid-row: 1/span 6;
    }

    .child-2 {
        grid-column: 6/span 7;
        grid-row: 1/span 6;
    }

    .child-4 {
        grid-column: 1/span 7;
        grid-row: 7/span 6;
    }

    .child-5 {
        grid-column: 8/span 5;
        grid-row: 7/span 6;
    }

    .team-imgs-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .footer-parent-container {
        flex-direction: column;
        gap: 2rem;
        padding: 0 0 0 0;
    }

    .footer-child-1,
    .footer-child-2,
    .footer-child-3 {
        width: 100%;
    }

    .calculator-parent {
        flex-direction: column;
        gap: 6rem;
    }

    .calculator-table{
        width: 90%;
    }
     .calculator-form{
        width: 100%;
        gap: 34px;
     }
     .calculator-form .primary-btn{
        padding: 1rem 3rem;
     }

     .form-inputs{
        gap: .3rem;
     }
     .bmi-calculator-text{
        margin-left: 0px;
    }
}



/* responsive for tablet devices */
@media screen and (min-width:577px) and (max-width:992px) {

    main,
    .footer-container {
        padding: 1.25rem;
    }

    .nav-options {
        gap: 1rem;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
    }

    img {
        width: 100%;
    }

    .habit-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .extra-text-container {
        width: 45%;
    }

    .extra-img-container {
        height: 400px;
    }

    .laptop,
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    .footer-parent-container {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
        padding: 0 0 0 0;
    }

    .footer-child-1 {
        width: 60%;
    }

    .footer-child-2,
    .footer-child-3 {
        width: 40%;
    }

    .calculator-parent {
        flex-direction: column;
        gap: 6rem;
    }

    .calculator-table{
        width: 70%;
    }
     .calculator-form{
        width: 100%;
        gap: 34px;
     }

     .bmi-calculator-text{
        margin-left: 0;
    }
}