/* responsive for mobile devices */
@media screen and (max-width:576px) {
    .nav-options {
        display: none;
    }
    .menu-bar {
        display: block;
        height: 24px;
        width: 24px;
    }
    .hero-container, .extra-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .hero-container h1 {
        font-size: 2.5rem;
        line-height: 120%;
    }
    span {
        font-size: 6rem;
    }
    img, 
    .extra-text-container,
    .extra-img-container {
        width: 100%;
    }
    .primary-btn {
        padding: 1rem;
    }
    .upper-card h2, .lower-card h2 {
        font-size: 25px;
    }
    .upper-card>p,
    .lower-card p {
        font-size: 10px;
    }
    .lower-card {
        top: 60%;
        left: -30%;
    }
    .lower-card,
    .upper-card{
        padding: .4rem;
    }
    .upper-card {
        top: 10%;
        width: 7.5rem;
    }
    .red-circle{
        width: 1.5rem;
        height: 1.5rem;
    }

    .habit-card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .extra-text-container{
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
}


/* responsive for tablet devices */
@media screen and (min-width:577px) and (max-width:992px) {
    .nav-options {
        gap: 1rem;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
    }

    img {
        width: 100%;
    }
    .habit-card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .extra-text-container{
        width: 45%;
    }

    .extra-img-container{
        height: 400px;
    }

}